<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Admin Console</title>

<head>
  <style>
    .SearchBar {
      position: absolute;
      top: 355px;
      left: 575px;
      height: 30px;
      width: 50px;
    }
  </style>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/566c51828b.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script async defer type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBWxc2yvhpFCdEBcgGrDkSY1QleD3lygGU&callback=loadMap"></script>
</head>

<body>



  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/console">
            <span class="glyphicon glyphicon glyphicon-apple"></span>
            Dashboard
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/data">Data</a></li>
        </ul>
  </nav>


  <main>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="topnav">
            <input type="text" class="input-group-text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
          </div>
          <ul id="myUL">
            <%for (var result in results){%>


            <li style="list-style-type: none;">
              <form action="/user" method="POST">
                <input type="hidden" name="username" type="submit" value="<%= results[result].username %>" />
                <a onclick="this.closest('form').submit();return false;" class="btn btn-link" role="button"><%= results[result].firstName + " " + results[result].lastName %></a>
              </form>
            </li>


            <%}%>
            </ul>
        </div>

      </div>

      <div class="col-md-8">
        <div id="map" style="width:800px;height:500px;"></div>
      </div>

    </div>
</main>

<p class="text-center text-muted">CIS 350 Final Project</p>


<script>

function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}


var map;

var loadMap = function()
{
  var directionsService = new google.maps.DirectionsService();
  var myLatLng = {lat: 38.8976633, lng: -77.0365739};
  var myOptions = {
    center: new google.maps.LatLng(38.8976633, -77.0365739),
    zoom: 11,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById("map"), myOptions);
  <% for (var item of posts) { %>
    var latitude =  <%= JSON.parse(item).lat%>
    var longitude = <%= JSON.parse(item).lng %>
    var marker = new google.maps.Marker({
      position:  {lat: latitude, lng: longitude},
      map: map
    });


    var contentString = '<b>' + "<%= JSON.parse(item).contactInfo%>" + '</b> <br>' + "<%= JSON.parse(item).description %>" + '<br>' +  '<i> Created by ' + "<%= JSON.parse(item).postedBy %>" + '</i>';
    marker['infowindow'] = new google.maps.InfoWindow({
      content: contentString
    });

          // ... and we add a 'listener' function to the marker that will
          // be called when someone clicks on it. The listener will then
          // open the info window we just created.


        google.maps.event.addListener(marker, 'click', function() {
        this['infowindow'].open(map, this);
        });
  <% } %>

  
  <% for (var item of claims) { %>
      directionsService.route(
          {
            origin: {query:  "<%= JSON.parse(item).obtainerLocation%>"},
            destination: {query: "<%= JSON.parse(item).latlng%>"},
            travelMode: 'DRIVING'
          },
          function(response, status) {
            if (status === 'OK') {
              var directionsDisplay = new google.maps.DirectionsRenderer({
              map: map,
              suppressMarkers: true
              });
              directionsDisplay.setDirections(response);
            } else {
              window.alert('Directions request failed due to ' + status);
            }
          });
  <% } %>

};

window.onload = loadMap;


</script>

</html>
